# Dependency directories
node_modules/

# Environment configuration files
.env

# Logs
logs
*.log
npm-debug.log*

# Operating system files
.DS_Store
Thumbs.db

# IDE settings
.idea/
.vscode/

# Optional: build output directory
/dist
